body{
    row-gap: 2px;
    font-family: 'NobleRegular';
    margin: 5%;
    padding: 5%;
    margin: 5%;
    /*border-style: solid;*/
    border-left-color: brown;
    border-right-color: cadetblue;
  }
  /*header*/
  .s12{
     background-color: burlywood;
     padding-left: 20px;
     padding-right: 20px;
     margin-left: 20px;
     margin-right: 20px;
     
  }
  /*menu*/
  .w3-bar{
     padding-left: 20px;
     padding-right: 20px;
     margin-left: 20px;
     margin-right: 20px;
  }
   /*repo*/
  .s3{
    margin-top: 10%;
    padding: 2% 2% 2% 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
   /*s2 image*/
  .s2{
    margin-top: 10%;
    padding-right: 3%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  /*s8 article*/
  .s8{
    margin-top: 2%;
    padding-right: 2%;
    padding-left: 3%;
    margin-right: 4%;
    margin-left: 2%;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
 
  /*#link_aside{
   display: inline;
   grid-template: auto;
  }*/
  #img_aside{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 2px;
    display: inline-flex;
    grid-template: auto;
    margin-bottom: 10px;
    opacity: 0.3;
   }
  footer{
    padding:10px;
    background-color: #800000;
    margin-bottom: 20px;
    color: aqua;
  }
  h1,h2, h3, h4{
    font-weight: bold;
    font-size: large;
    font-family: 'NobleRegular;
  }

  a{
    list-style-type: none;
    line-height: 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
  /*@media only screen and (max-width:767px){
    body{
      grid-template: repeat(4, auto)/ 1fr;
      grid-gap: 0;
      grid-template-areas:
              "head"
              "navi"
              "main"
              "foot";
    }
    header{
      padding: grid;
      grid-template: repeat(3, auto) / 1fr;
      grid-gap: .03em;
      justify-items: center;
      margin-bottom: 2px;
    }
    mobile_menu{
      display: block;
      grid-area: anvi;
    }
    main{
      margin: 0;
      grid-template: auto auto / 1fr;
      grid-gap: 2%;
      grid-template-areas:
          "side"
          "arti";
    }
    articles{
      margin: 1.2em 2%;
    }
    aside{
      padding: 1em 2%;
    }
  }*/
  
 /* html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }	*/
@font-face{
    font-family: 'NobleRegular';
    src: url('../fonts/nobile/NobleRegular');
    src: url('../fonts/nobile/Nobile-Bold');
    format('svg');
    font-weight: normal;
    font-style: normal;
}