body {
    /*margin: 20px;*/
    /*padding: 5px;*/
    }
    #map {
    position: absolute;
    top: 40px;
    bottom: 10px;
    margin-right:40px;
    margin-left: 10px;
    
    width: 100%;
    }

    .map-overlay top {
    position: absolute;
    left: 0;
    padding: 10px;
    }
    .buttonOne{
     position: absolute;
     top: 0;
    }  